@model Autor

@{
    ViewData["Title"] = "Actualizar Autor";
}

<h1>Actualizar Autor @Model.Nombre</h1>

<form asp-action="Actualizar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="IdAutor" />
    <input type="hidden" asp-for="ImagenUrl" />

    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FechaNacimiento" class="form-label"></label>
        <input type="date" asp-for="FechaNacimiento" class="form-control" />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FechaMuerte" class="form-label"></label>
        <input type="date" asp-for="FechaMuerte" class="form-control" />
        <span asp-validation-for="FechaMuerte" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Biografia" class="form-label"></label>
        <textarea asp-for="Biografia" class="form-control"></textarea>
        <span asp-validation-for="Biografia" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/ResizeTextArea.js" asp-append-version="true"></script>
}
