@model IEnumerable<Editorial>

@{
    ViewData["Title"] = "Editoriales";
}

<h1>Listado de Editoriales</h1>
<a asp-action="Crear" class="btn btn-primary mb-3">Crear Editorial</a>


<table class="table">
     <thead>
        <tr>
            <th>Accion</th>
            <th>Editorial</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var editorial in Model)
        {
            <tr>
                <td>
                    @if (User.IsInRole("Administrador")){
                        <a class="btn btn-primary" asp-action="Actualizar" asp-route-id="@editorial.IdEditorial">Editar</a>
                    }
                </td> 

                <td>
                    @editorial.Nombre
                </td>
            </tr>
        }
    </tbody>
</table>
